@font-face {
  font-family: "iconfont"; /* Project id 2949120 */
  src: url('iconfont.woff2?t=1637238431024') format('woff2'),
       url('iconfont.woff?t=1637238431024') format('woff'),
       url('iconfont.ttf?t=1637238431024') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guaduan1:before {
  content: "\e600";
}

.icon-16gl-volumeMiddle:before {
  content: "\e9f9";
}

.icon-16gl-volumeCross:before {
  content: "\e9fa";
}

